Proyecto3Capas/Connected Services/InsertarCliente/ServicioWebProyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apPaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apMaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsClienteSoapIn">
    <wsdl:part name="parameters" element="tns:InsCliente" />
  </wsdl:message>
  <wsdl:message name="InsClienteSoapOut">
    <wsdl:part name="parameters" element="tns:InsClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebProyectoSoap">
    <wsdl:operation name="InsCliente">
      <wsdl:input message="tns:InsClienteSoapIn" />
      <wsdl:output message="tns:InsClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebProyectoSoap" type="tns:ServicioWebProyectoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCliente">
      <soap:operation soapAction="http://tempuri.org/InsCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebProyectoSoap12" type="tns:ServicioWebProyectoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCliente">
      <soap12:operation soapAction="http://tempuri.org/InsCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebProyecto">
    <wsdl:port name="ServicioWebProyectoSoap" binding="tns:ServicioWebProyectoSoap">
      <soap:address location="http://localhost:54715/ServicioWebProyecto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebProyectoSoap12" binding="tns:ServicioWebProyectoSoap12">
      <soap12:address location="http://localhost:54715/ServicioWebProyecto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>